h1 {font-family: 'Roboto', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    margin-bottom: 1em;}

h2 {color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    text-align: left;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.2em;}
    
.header {
    position: relative;
    width: 100%;
    height: auto;}
 
    .banner img {
        display: block;
        width: 100%;
        height: auto;}
    
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20em;
        height: 20em;}
    
    .logo img {
        width: 100%;
        height: auto;
        opacity: 0.8;}

.logo-text {
    position: absolute;
    top: 50%; /* Position the text at the bottom of the logo div */
    left: 50%; /* Center the text horizontally */
    transform: translateX(-50%); /* Adjust the text position to its center */
    text-align: center; /* Center the text within its own space */
    font-size: 4em; /* Adjust as needed */
    color: rgb(255, 255, 255, 0.8); /* Adjust as needed */
    white-space: nowrap; /* Prevent the text from wrapping */
    width: auto; /* Allows the text to expand to its natural width */
}

    
p {font-family: 'Roboto', sans-serif;
    text-indent: 2em;
    line-height : 1.5em;
    margin-top: 0em;}


body {padding: 3em;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        background: #f0f0f0;}

.flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: 3em;
    padding: 3em;
    margin-bottom: 3em;
    border-radius: 10px;
    box-sizing: border-box;
    background: #2B3C42;
    filter: drop-shadow(12px 12px 10px rgb(92, 92, 92));}

.collapsed {
    height: 15em;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.781));
}


@media all and (pointer:none) , (pointer:coarse) {
    body {
        padding: 0em;
    } 

    .flex-container {
        flex-direction: column;
        align-items: center;
        gap: 0.2em;
        padding: 0.5em;
        border-radius: 10px;
    }

    .grid-container {
        gap: 0.5em;
        padding: 0.5em;
        column-gap: 0.5em;
        row-gap: 0.5em;
    }
         
} 